<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h1>Create a New Listing</h1>
    <form
      action="/listings"
      method="POST"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          placeholder="Add a Catchy Title"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id=""
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please should be short descriptin.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image file</label>
        <input
          type="file"
          name="listing[image][url]"
          id=""
          placeholder="choose file"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            placeholder="add Price"
            name="listing[price]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="counttry" class="form-label">Country</label>
          <input
            type="text"
            placeholder="add country"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">country should be valid.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input
          type="text"
          placeholder="Enter Location"
          name="listing[location]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid.</div>
      </div>

      <button class="btn add-btn">Submit</button>
    </form>
  </div>
</div>
